body {
background-color: black;
}
p {
color: white;
margin-right: 200px;
margin-left: 200px;
}
h1 {
color: red;
text-align: center;
text-decoration: underline;
}
img {
height: 30%;
}
img {
width: auto;
height: auto;
}
