body {
background-color: black;
}
p {
color: white;
margin-right: 200px;
margin-left: 200px;
}
h1 {
color: red;
text-align: center;
text-decoration: underline;
}
img {
border: 2px solid lawngreen;
width: auto;
height: auto;
padding: 10px;
}
