.rectangle{
width: 350px;
height: 350px;
float: left;
}
.rectangle_{
width: 350px;
height: 350px;
float: right;
padding-top: 225px;
}

p.a{
font-size: 30px;
outline-style: solid;
outline-color: blue;
margin-top: 25px;
margin-left: 500px;
width: 410px;
}
p.b{
font-size: 30px;
outline-style: solid;
outline-color: blue;
width: 520px;
height: 75px;
margin-top: 390px;
}
b.span{
text-align: center;
}
