.rectangle{
width: 300px;
height: 300px;
}
img.c{
float: left;
}
p.a{
font-size: 30px;
outline-style: solid;
outline-color: blue;
margin-top: 50px;
margin-left: 500px;
width: 410px;
}
img.d{
float: right;
}
p.b{
font-size: 30px;
outline-style: solid;
outline-color: blue;
margin-top: 50px;
margin-right: 500px;
width: 410px;
}
