body {
background-color: black;
text-align: center;
}
title {
font-family: Times New Roman;
}
h1 {
color: white;
background-color: navy;
text-shadow: 2px 2px;
}
h2 {
color: beige;
text-decoration: underline; 
}
p {
color: white;
}
.project_section a:link {
color: gray;
text-decoration: none;
}
.project_section a:visited {
color: mediumseagreen;
}
.project_section a:hover {
color: mediumpurple;
text-decoration: underline;
}
.project_section a:active {
color: yellow;
}
.circle {
border-radius: 50%;
cursor: move;
padding: 80px 0;
.span {
cursor: pointer;
}
.topnavigation {
padding: auto;
float: left;
}
.topnavigation a ul{
color: cyan;
padding-right: 100px;
font-size: 25px;
}
