body {
background-color: black;
text-align: center;
margin-left: 200px;
margin-right: 200px;
}
title {
font-family: Times New Roman;
}
h1 {
color: white;
background-color: navy;
}
h2 {
color: beige;
}
p {
color: white;
}
.Project_Section a:link {
color: lightslategray;
}
.Project_Section a:visited {
color: mediumseagreen;
}
.Project_Section a:hover {
color: mediumpurple;
}
.Project_Section a:active {
color: yellow;
}
