body {
background-color: black;
text-align: center;
margin-left: 200px;
margin-right: 200px;
}
title {
font-family: Times New Roman;
}
h1 {
color: white;
background-color: navy;
}
h2 {
color: beige;
}
p {
color: white;
}
.Project Section a:hover {
color: yellow
}
